  <div class = "search-box">
    <input class="search-txt" type = "text" name="search" placeholder="Type to search" [(ngModel)]="searchText" autocomplete="off" >
    <a class="search-btn" href="#">
    </a>
  </div>
  <div></div>
  <div class="horizontal-divider"> </div>

	<mat-divider></mat-divider>
	<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="15px">

		<mat-card fxFlex>

			<mat-card-content fxLayout="column">
			<ng-material2-facet-search [source]="facets" (searchUpdated)="filterUpdated($event)" [chipLabelsEnabled]="chipLabelsEnabled"
			 [confirmOnRemove]="confirmOnRemove" [clearButtonEnabled]="clearButtonEnabled" placeholder="Add a filter..." clearButtonText="CLEAR FILTERS">
			</ng-material2-facet-search>
      </mat-card-content>

		</mat-card>
    
		<mat-card fxFlex>
			<mat-card-title>Results</mat-card-title>
      <div class="panel panel-primary" *ngFor="let client of clients |filter:searchText">
        <div class="panel-heading" >
          <h3 class="panel-title">{{client.cs_request_id}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            Type: {{client.request_type}}
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            Category: {{client.request_category}}
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            Status: {{client.request_status}}
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            Due Date: {{client.due_date}}
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            Created By: {{client.created_by}}
          </div>
        </div>
      </div>
			<mat-card-content>

			</mat-card-content>
	</div>